body{
    background: url("homenagens/homenagensbg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    user-select: none;
    text-align: center;
}

.photo{
    width: 100%;
    height: auto;
    border: 1px solid rgb(1, 41, 65);
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 6px 4px rgb(1, 164, 248);
    margin-top: 30px;
    
}
.photo.memoria{
    background-color: rgb(1, 164, 248);
    color: white;
    font-size: 30pt;
}

.photo.vertical{
    max-height: 550px;
    width: 100%;
    max-width: 300px;
}

#content{
    text-align: center;
}

.BtnBaixar{
    text-decoration: none;
    background-color: rgb(1, 164, 248);
    color: rgb(1, 41, 65);
    font-size: 15pt;
    border: 1px solid rgb(1, 41, 65);
    box-shadow: 0px 0px 2px 1px rgb(1, 164, 248);
    border-radius: 10px;
    padding: 5px;
    margin-left: 20px;
    font-family: 'Sahitya';
    width: 100%;
    max-width: 50px;
}

.BtnBaixar:hover{
    background-color: rgb(1, 164, 248,0);
    color: rgb(1, 41, 65);
    font-weight: bold;
}

.BtnPassar{
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(1, 164, 248);
    color: rgb(1, 41, 65);
    font-size: 15pt;
    border: 1px solid rgb(1, 41, 65);
    box-shadow: 0px 0px 2px 1px rgb(1, 164, 248);
    border-radius: 10px;
    padding: 8px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 100%;
    max-width: 50px;
}

.BtnPassar:hover{
    background-color: rgb(1, 164, 248,0);
    color: rgb(1, 41, 65);
    font-weight: bold;
}

.delimitador{
    width: 100%;
    max-width: 660px;
    display: inline-block;
    margin-top: 80px;
    transition: 0.5s;

}

.seta.img{
    width: 100%;
}

#seta{
    background-color: rgb(1, 164, 248);
    width: 25px; 
    position: fixed;
    margin-left: 20px;
    margin-top: 100px;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 0;
    border: 1px solid rgb(1, 164, 248);
    box-shadow: 0px 0px 5px 1px rgb(1, 41, 65);
}
 
#popup{
    width: 98%;
    max-width: 850px;
    height: auto;
    max-height: 629px;
    background-image: linear-gradient(to bottom,rgb(33, 33, 33),rgb(255, 196, 0));
    color: cornsilk;
    padding: 0;
    position: fixed;
    bottom: 0; right: 0;
    left: 0; top: 0;
    margin: auto;
    border: 2px solid rgb(33, 33, 33);
    box-shadow: 0px 0px 6px 6px rgb(255, 196, 0);
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: none;
    user-select: none;
    transition: 1s;
}

#xclose{
    font-size: 12pt;
    background-color: rgba(0, 73, 70, 0);
    color: rgb(255, 196, 0);
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 2px;
    margin-left: -2px;
    border-right: 2px solid rgb(15, 15, 15);
    border-bottom: 0px solid rgb(33,33,33);
    border-top: 2px solid rgb(33, 33, 33);
    border-left: 2px solid rgb(33, 33, 33);;
    border-top-left-radius: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

#xclose:hover{
    background-color: rgb(240, 29, 29);
    color: rgb(255, 255, 255);
    
}

#xclosen2{
    font-size: 12pt;
    background-color: rgba(0, 73, 70, 0);
    color: rgb(255, 196, 0);
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 2px;
    margin-left: -2px;
    border-right: 2px solid rgb(15, 15, 15);
    border-bottom: 0px solid rgb(33,33,33);
    border-top: 2px solid rgb(33, 33, 33);
    border-left: 2px solid rgb(15, 15, 15);
    border-top-left-radius: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    border-radius: 0;
    text-decoration: none;
}


#close{
    background-color: rgb(38, 38, 38);
    text-align: left;
    border: 2px solid rgb(33, 33, 33);
    width: 100%;
    position: relative;
    left: -2px;
    top: -2px;
    margin-bottom: 10px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.pct{
    
    width: 30px;
    height: 30px;
}

.xspan{
    font-size: 30pt;
    font-family: 'Sahitya';
   color: rgb(180, 230, 255);

}

.photo.memoria{
    background-image: linear-gradient(to bottom,rgb(1, 41, 65),rgb(1, 164, 248));
    padding: 0;
}

.delimitador.memoria{
   margin-bottom: 100px;
   
}

#jbl{
    margin-top: -10px;
    width: 100%;
}

.BtnPassarX{
    cursor: pointer;
    background-color: rgb(1, 41, 65);
    color: rgb(1, 164, 248);
    font-size: 15pt;
    border: 1px solid rgb(1, 164, 248);
    box-shadow: 0px 0px 2px 1px rgb(1, 41, 65);
    border-radius: 10px;
    padding: 10px;
    font-family: 'Sahitya';
    margin-bottom: 20px;
    width: 160px;
    transition: 0.5s;
}

.BtnPassarX:hover{
    cursor: pointer;
    background-color: rgba(1, 40, 65, 0);
    color: rgb(1, 41, 65);
    font-size: 15pt;
    border: 1px solid rgb(1, 164, 248);
    box-shadow: 0px 0px 2px 1px rgb(1, 41, 65);
}