#foto{
    display: inline-block;
    max-width: 700px;
    margin-bottom: 20px;
    margin-top: 30px;
}    
img{
    max-width:100%;
    height:auto;
}

.btn{
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
    transition: 0.3s;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
}

.btn.L1{
    color: rgb(0, 41, 40);
    border: 1px solid rgb(0, 73, 70);
    background-color: rgb(1, 168, 168);
    box-shadow: 0px 0px 10px 2px cyan;
}

.btn.L1:hover{
    color: cyan;
    border: 1px solid cyan;
    background-color: rgb(0, 73, 70);
    box-shadow: 0px 0px 5px 2px cyan;
}

.btn.L2{
    color: rgb(255, 0, 76);
    border: 2px solid rgb(255, 0, 76);
    background-color: rgb(255, 191, 205);
    box-shadow: 0px 0px 10px 2px rgb(255, 191, 205);
}

.btn.L2:hover{
    color: rgb(255, 191, 205);
    border: 2px solid rgb(255, 191, 205);
    background-color: rgb(255, 0, 76);
    box-shadow: 0px 0px 5px 2px rgb(255, 191, 205);
}

.btn.L3{
    color: black;
    border: 1px solid black;
    background-color: rgb(251, 255, 0);
    box-shadow: 0px 0px 10px 2px black;
}

.btn.L3:hover{
    color: rgb(251, 255, 0);
    border: 1px solid rgb(251, 255, 0);
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 5px 2px black;
}

.btn.L4{
    color: rgb(243, 229, 102);
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(167, 7, 7);
    box-shadow: 0px 0px 10px 2px rgb(243, 229, 102);
}

.btn.L4:hover{
    color: rgb(0, 0, 0);
    border: 1px solid black;
    background-color: rgb(167, 7, 7);
    box-shadow: 0px 0px 5px 2px rgb(0, 0, 0);
    
}

.btn.CP{
    color: rgb(75, 0, 110);
    border: 1px solid rgb(75, 0, 110);
    background-color: rgb(227, 167, 245);
    box-shadow: 0px 0px 10px 2px rgb(187, 102, 243);
}

.btn.CP:hover{
    color: rgb(227, 167, 245);
    border: 1px solid rgb(187, 102, 243);
    background-color: rgb(75, 0, 110);
    box-shadow: 0px 0px 5px 2px rgb(227, 167, 245);
}

.btn.PC{
    color: rgb(6, 66, 0);
    border: 1px solid rgb(6, 66, 0);
    background-color: rgb(183, 245, 167);
    box-shadow: 0px 0px 10px 2px rgb(201, 243, 102);
}

.btn.PC:hover{
    color: rgb(201, 243, 102);
    border: 1px solid rgb(201, 243, 102);
    background-color: rgb(6, 66, 0);
    box-shadow: 0px 0px 10px 2px rgb(183, 245, 167);
}

