body{
    background: url("mural/b4.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    user-select: none;
}

.photo{
    width: 100%;
    height: auto;
    border: 1px solid rgb(255, 219, 229);
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 6px 4px rgb(255, 0, 68);
    margin-top: 30px;
}

.photo.vertical{
    max-height: 550px;
    width: 100%;
    max-width: 300px;
}

#content{
    text-align: center;
}

.BtnBaixar{
    text-decoration: none;
    background-color: rgb(255, 0, 68);
    color: rgb(255, 219, 229);
    font-size: 15pt;
    border: 1px solid rgb(255, 219, 229);
    box-shadow: 0px 0px 2px 1px #ff0044;
    border-radius: 10px;
    padding: 5px;
    margin-left: 20px;
    font-family: 'Sahitya';
    width: 100%;
    max-width: 50px;
}

.BtnBaixar:hover{
    background-color: rgb(255, 0, 68,0);
    color: rgb(255, 0, 68);
    font-weight: bold;
}

.BtnPassar{
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(255, 0, 68);
    color: rgb(255, 219, 229);
    font-size: 15pt;
    border: 1px solid rgb(255, 219, 229);
    box-shadow: 0px 0px 2px 1px rgb(255, 0, 68);
    border-radius: 10px;
    padding: 8px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 100%;
    max-width: 50px;
}

.BtnPassar:hover{
    background-color: rgb(255, 0, 68,0);
    color: rgb(255, 0, 68);
    font-weight: bold;
}

.delimitador{
    width: 100%;
    max-width: 560px;
    display: inline-block;
    margin-top: 80px;
    transition: 0.5s;
}

.seta.img{
    width: 100%;
}

#seta{
    background-color: rgba(255, 0, 50, 1);
    width: 25px; 
    position: fixed;
    margin-left: 20px;
    margin-top: 100px;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 0;
    border: 1px solid rgb(255, 0, 47);
    box-shadow: 0px 0px 5px 1px rgb(255, 0, 47);
}
