@keyframes anim {
    0% {
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 0;
    }
    50% {
        margin-top: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    100% {
        margin-top: 30px;
        padding-top: 60px;
        padding-bottom: 60px;
    }    
    
}

@keyframes animbot {
    0%, 100%{
        transform: translateY(0px);
    }    
    20%, 60%{
        transform: translateY(10px);
    }
    40%, 80%{
        transform: translateY(-10px);
    }
}

@keyframes animbot2 {
    0%, 100%{
        transform: translateX(0px);
    }    
    20%, 60%{
        transform: translateX(10px);
    }
    40%, 80%{
        transform: translateX(-10px);
    }
}

body{
    background:  url('bg1.jpg') no-repeat fixed center;
    background-size: cover;
    text-align: center;
    margin:10pt;
    user-select: none;
}

#titulo{
    
    background-image: linear-gradient(to bottom ,rgb(255, 0, 47),rgb(0, 0, 97));
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 97);
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 97);
    font-family: 'Sahitya';
    color: rgb(255, 255, 255);
    font-size: 20pt;
    animation: anim linear 1.3s 1 forwards;
}

#bot{
    margin-top: 20px;
    cursor: pointer;
    margin-right: 30px;
    transition: 0.3s;
    font-family: 'Sahitya';
    color: white;
    background-color: rgba(255, 0, 47,1);
    padding: 5px;
    border-radius: 10px;
    font-size: 20pt;
    border: 3px solid rgb(255, 0, 47);
}


.bot1:hover{
    font-size: 21pt;
    box-shadow: 0px 0px 2px 2px rgb(255, 255, 255);
    animation: animbot 0.9s;;
}

.bot2:hover{
    font-size: 21pt;
    box-shadow: 0px 0px 2px 2px rgb(255, 255, 255);
    animation: animbot2 0.9s;;
}

.seta.img{
    width: 100%;
}

#seta{
    background-color: rgba(0, 0, 97, 1);
    width: 25px;
    height: 35px;
    margin-left: 20px;
    margin-top: -50px;
    cursor: pointer;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    border: 1px solid rgb(0, 0, 97);
    box-shadow: 0px 0px 5px 1px rgb(0, 0, 97);
}



