body{
    
    background: url(emojimocionado.png);
    background-size: 50px;
    background-color: black;
    user-select: none;
}

#divcontem{
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to bottom,rgb(238,151,56),rgb(245, 224, 117));
    font-family:'Sahitya';
    font-size: 20pt;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px black;
    margin-top: 100px ;
}

.button{
    margin-bottom: 20px;
    cursor: pointer;
    font-family: 'Sahitya';
    font-size: 20pt;
    background-color: rgb(238,151,56);
    border: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px black;
    transition: 0.3s;
}

.button:hover{
    background-color: rgba(0, 0, 0, 0);
}

#dot{
    cursor: pointer;
    background-color: black;
    color: rgb(238,151,56);
    font-size: 10pt;
    font-family: 'Sahitya';
    border: 0px;
    border-radius: 5px;
}

#video{
    max-width: 100%;
    max-height: 207px;  
}

#Fotoparaimpressão{
    max-width: 400px;
    max-height: 400px;
}

.seta.img{
    width: 100%;
}

#seta{
    background-color: rgba(0, 0, 0, 1);
    width: 25px;
    height: 35px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
}