body{
    
    background: url(emojimenor.png);
    background-size: 50px;
    background-color: black;
    margin: 0;
    overflow-x: hidden;
    user-select: none;
}

#paragraph{
    
    overflow-x: hidden;
    margin: 8px;
    padding: 20px;
    text-align: center;
    font-family: 'Sahitya';
    font-size: 31pt;
    background-image: linear-gradient(to bottom,rgb(255, 115, 0),rgb(255, 255, 0));
    border-radius: 8px;
    border: 0px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 3px 3px rgb(0,0, 0);
    margin-top: 100px;
}

#alinhador{
    align-items: center;
    justify-content: center;
}

#button{
    cursor: pointer;
    transition: 0.5s;
    font-size: 21pt;
    font-family: 'Sahitya';
    color: black;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgb(255, 115, 0);
    background-color: rgb(255, 115, 0);
}

#button:hover{
    box-shadow: 0px 0px 3px 3px rgb(0, 0, 0);
}

.emoji{
    width: 100%;
    max-width: 100px;
}

.seta.img{
    width: 100%;
}

#seta{
    background-color: rgba(128, 255, 0, 0);
    width: 25px;
    margin-left: 20px;
    cursor: pointer;
}